<h1>{{hi}}</h1>


<!-- LANDING SECTION -->
<section class="bc-landing">
  <div class="container">



  </div>
</section>


<!-- WHY SECTION -->
<section class="bc-why">
  <div class="container">



  </div>
</section>


<!-- WHERE SECTION -->
<section class="bc-where">
  <div class="container">



  </div>
</section>



<!-- SID -->
<!-- WHO SECTION -->
<section class="bc-who">
  <div class="container who_section">

    <p class="pre-header">
      [ Our History ]
    </p>
    <h1>
      HUMBLE ROOTS,<br />
      CLEAR VISION
    </h1>
    <p class="who_history">
      Backcountry.com began in 1996 with two guys, a stack of avalanche beacons, and a garage in Park City, Utah. Our roots were humble, and we've grown since then, but our vision is still clear: to provide the best outdoor gear—and to be the best at doing it.
    </p>
    <hr />
    <p class="pre-header">
      [ Our Sites ]
    </p>
    <div>
      <div class="half_column no_pad_left">

        <img src="images/who_images/bc-logo-black.png" />
        <h4>Backcountry was born from a love of gear and a passion for exploring the mountains.
        </h4>
        <p>
          It all started here—this is the store that serves as the namesake to the Backcountry family. You’ll find the highest-performance outdoor gear as well as clothing and expert-level gear knowledge. This is camping, trail running, mountain biking, alpine and Nordic skiing, mountaineering, backpacking and more—all under one roof.
        </p>
        <p>
          <a href="http://wwww.backcountry.com">Visit Site</a>
          <span> &nbsp; | &nbsp;
          <a href="http://content.backcountry.com/promo_upload/corpsite/brands/Backcountry-logospec-v0414.pdf">Download Brand Materials</a>
        </span>
        </p>

      </div>
      <div class="half_column no_pad_right">
        <img src="images/who_images/cc-logo-black.png" />
        <h4>Where driven cyclists find the gear and information to fuel pursuits on the trail or tarmac.</h4>
        <p>
          Competitive Cyclist is the world’s source for pro-caliber cycling gear and clothing, and its employees are deeply ingrained in cycling culture. Although Competitive is an online store, it sacrifices none of the personalized touch you’d receive from a local bike shop. You get insider knowledge, world-class service, and ultimate satisfaction—guaranteed.
        </p>
        <p>
          <a href="http://www.competitivecyclist.com">Visit Site</a>
          <span> &nbsp; | &nbsp;
          <a href="http://content.backcountry.com/promo_upload/corpsite/brands/CompetitiveCyclist-logospec-v0414.pdf">Download Brand Materials</a>
        </span>
        </p>
      </div>
    </div>
    <div>
      <div class="half_column no_pad_left">

        <img src="images/who_images/moto-logo.png" />
        <h4>Motosport is a crew of powersports enthusiasts, just like you.
        </h4>
        <p>
          MotoSport is our brother in arms when it comes to throttle-powered gear. You’ll find the best aftermarket products, a vast selection of OEM replacements, and all the helmets, jackets, and accessories you need. Whether you’re building your dream ride, or piecing it together from a box of parts pulled from the garage, MotoSport has everything you need to make that motor sing.
        </p>
        <p>
          <a href="http://wwww.motosport.com">Visit Site</a>
          <span> &nbsp; | &nbsp;
          <a href="http://content.backcountry.com/promo_upload/corpsite/brands/MotoSport-logospec-v0414.pdf">Download Brand Materials</a>
        </span>
        </p>

      </div>
      <div class="half_column no_pad_right">
        <img src="images/who_images/bf-logo.png" />
        <h4>Bergfreunde.de is the premier online source for high-end outdoor gear and clothing in Europe.</h4>
        <p>
          Headquartered in one of Germany’s climbing hotspots, Bergfreunde.de delivers only the highest-end outdoor gear and clothing. Like Backcountry, Bergfreunde was founded on a love for the mountains and the vision to connect people with their passions. Bergfreunde was acquired by backcountry.com in 2013 and, as it quickly grows, it continues to serve outdoor enthusiasts in Germany and throughout Europe.
        </p>
        <p>
          <a href="http://www.bergfreunde.de">Visit Site</a>
          <span> &nbsp; | &nbsp;
          <a href="http://content.backcountry.com/promo_upload/corpsite/brands/Bergfreunde-logospec-v0414.pdf">Download Brand Materials</a>
        </span>
        </p>
      </div>
    </div>
    <div>
      <div class="half_column no_pad_left">

        <img src="images/who_images/sac-logo-black.png" />
        <h4>Steep&cheap always has the deepest deals on outdoor gear, always.
        </h4>
        <p>
          Steep&cheap is a showroom of limited-time, limited-quantity deals for the outdoor enthusiast without a ton of cash to burn. Through our website or our app, we give people the thrill of the deal—and once you’re hooked, you’re hooked.
        </p>
        <p>
          <a href="http://wwww.steepandcheap.com">Visit Site</a>
          <span> &nbsp; | &nbsp;
          <a href="http://content.backcountry.com/promo_upload/corpsite/brands/Flash-logospec-v0414.pdf">Download Brand Materials</a>
        </span>
        </p>

      </div>
      <div class="half_column no_pad_right">
        <img src="images/who_images/wm-logo-black.png" />
        <h4>Whiskey Militia delivers your fix of crazy deals on surf, skate, and snow gear.</h4>
        <p>
          This is our one-deal-at-a-time site dedicated to action sports. You’ll find limited time, limited-quantity deals on snow, surf, and skate gear and apparel at prices so low you’ll wonder if you’re seeing straight. Pull the trigger and ask questions later—it’s the Whiskey way.
        </p>
        <p>
          <a href="http://www.whiskeymilitia.com">Visit Site</a>
          <span> &nbsp; | &nbsp;
          <a href="http://content.backcountry.com/promo_upload/corpsite/brands/Flash-logospec-v0414.pdf">Download Brand Materials</a>
        </span>
        </p>
      </div>
    </div>

    <hr />
    <p class="pre-header">
      [ Our Team ]
    </p>
    <div>
      <h1 class="header-0">THE TEAM</h1>
      <p class="who_team">
        Our ranks are flush with business leaders, professional athletes, and industry veterans—those who share a common vision and know how to take action. From our executive team to our Gearheads, we target the core by hiring the core. Our employees are among the most experienced and knowledgeable in the industry.
      </p>
    </div>

    <hr />

    <p class="pre-header">
      [ Our Leadership ]
    </p>
    <div class="exec_people">

    <div id="jonathan" class="exec column-quarter no_pad_left">
      <div class="exec-pic">
        <img src="images/leadership_images/jonathan.jpg"  />
      </div>
      <h3 class="exec-name">JONATHAN NIELSEN</h3>
      <em>CEO</em>
    </div>
    <div id="jonathan" class="exec column-quarter no_pad_left">
      <div class="exec-pic">
        <img src="images/leadership_images/pete.jpg"  />
      </div>
      <h3 class="exec-name">PETE LABORE</h3>
      <em>COO</em>
    </div>
    <div id="jonathan" class="exec column-quarter no_pad_left">
      <div class="exec-pic">
        <img src="images/leadership_images/shane3.jpg"  />
      </div>
      <h3 class="exec-name">SHANE JONES</h3>
      <em>CFO</em>
    </div>
    <div id="jonathan" class="exec column-quarter no_pad_left">
      <div class="exec-pic">
        <img src="images/leadership_images/jon-armitage.jpg"  />
      </div>
      <h3 class="exec-name">JON ARMITAGE</h3>
      <em>CMO</em>
    </div>
    <div id="jonathan" class="exec column-quarter no_pad_left">
      <div class="exec-pic">
        <img src="images/leadership_images/peter2.jpg"  />
      </div>
      <h3 class="exec-name">PETER EISCHEID</h3>
      <em>EVP of Technology & Product</em>
    </div>
    <div id="jonathan" class="exec column-quarter no_pad_left">
      <div class="exec-pic">
        <img src="images/leadership_images/tom2.jpg"  />
      </div>
      <h3 class="exec-name">THOMAS JEON</h3>
      <em>General Counsel, EVP of People</em>
    </div>
    <div id="jonathan" class="exec column-quarter no_pad_left">
      <div class="exec-pic">
        <img src="images/leadership_images/diana.jpg"  />
      </div>
      <h3 class="exec-name">DIANA SEUNG</h3>
      <em>EVP of Merchandising</em>
    </div>
    <div id="jonathan" class="exec column-quarter no_pad_left">
      <div class="exec-pic">
        <img src="images/leadership_images/jim.jpg"  />
      </div>
      <h3 class="exec-name">JIM HOLLAND</h3>
      <em>Co-founder, Board Member</em>
    </div>
  </div>


  </div>


  <div class="photo_montage">

    <div class="column1">
      <div class="left_column_top_row">
        <div class="left_column_left_side">
          <div class="photo_small">
            <img src="images/montage_images/1.jpg" />
          </div>
          <div class="photo_small">
            <img src="images/montage_images/2.jpg" />
          </div>
        </div>
        <div class="left_column_right_side">
          <div class="photo_med">
            <img src="images/montage_images/3.jpg" />
          </div>
        </div>
      </div>
      <div class="left_column_med_row">
        <div class="photo_left_column_med">
          <img src="images/montage_images/6.jpg" />
        </div>
      </div>
      <div class="left_column_bottom_row">
        <div class="left_column_bottom_left_side">
          <div class="photo_bottom_small">
            <img src="images/montage_images/10.jpg" />
          </div>
        </div>
        <div class ="left_column_bottom_right_side">
          <div class="photo_bottom_med">
            <img src="images/montage_images/11.jpg" />
          </div>
        </div>
      </div>
    </div><div class="column2">
      <div class="middle_column_top_row">
        <div class="middle_photo_large">
          <img src="images/montage_images/4.jpg" />"
        </div>
      </div>
      <div class="middle_column_middle_row">
        <div class="middle_column_middle_left">
          <div class="middle_photo_small">
            <img src="images/montage_images/7.jpg" />
          </div>
          <div class="middle_photo_small">
            <img src="images/montage_images/12.jpg" />
          </div>
        </div><div class="middle_column_middle_right">
          <div class="middle_photo_medium">
            <img src="images/montage_images/8.jpg" />
          </div>
        </div>
      </div>
      <div class="middle_column_bottom_row">
        <div class="middle_column_bottom_left">
          <div class="middle_photo_medium">
            <img src="images/montage_images/15.jpg" />
          </div>
        </div><div class="middle_column_bottom_right">
          <div class="middle_photo_small">
            <img src="images/montage_images/16.jpg" />
          </div>
        </div>
      </div>
    </div><div class="column3">
      <div class="right_column_top_row">
        <div class="right_photo_med">
          <img src="images/montage_images/5.jpg" />
        </div>
      </div>
      <div class="right_column_middle_row">
        <div class="right_photo_med">
          <img src="images/montage_images/9.jpg" />
        </div>
      </div>
      <div class="right_column_bottom_row">
        <div class="right_column_bottom_left">
          <div class="right_photo_small">
                <img src="images/montage_images/13.jpg" />
          </div>
          <div class="right_photo_small">
                <img src="images/montage_images/17.jpg" />
          </div>
        </div>
        <div class="right_column_bottom_right">
          <div class="right_photo_small">
                <img src="images/montage_images/14.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>

</section>



<!-- SID -->
<!-- WORK SECTION -->
<section class="bc-work">
  <div class="container">


    <p class="pre-header">
      [ Your Opportunity ]
    </p>
    <h1 class="header-0">JOIN THE TEAM</h1>

    <p class="who_team">
      At Backcountry, we value your passions just as much as your work. Much in the way that we seek out the highest performing gear on the planet, we hire the most knowledgeable and experienced employees in the industry.
    </p>

    <hr />

    <p class="pre-header">
      [ Current Openings ]
    </p>

    <a href="http://jobs.jobvite.com/careers/backcountry/jobs?__jvst=Job%20Board&__jvsd=backcountry.com%20Career%20Site">View All Current Openings</a>

    <hr />

    <div>
      muse section
    </div>

    <hr />

    <h1 class="header-0">THE PERKS</h1>

    <div class="two_column">
      <p class="who_team">
        We have industry-leading perks to reward a job well done. Whether you display an example of one of our core values or simply get it done, the list of perks is nearly endless.
      </p>

      <h2>Gear</h2>
      <p>
        Gear is at the heart of our business, so we offer deep discounts and pro deals so you can own the bst and test the latest. Lift ticket and seasons pass deals and Ski Utah Gold Passes give you access to the mountains to ski and board during the winter and mountain bike during the summer.
      </p>
    </div>

    <div class="two_column">
      <h2>WORKDAY RECREATION</h2>
      <p>
        And best of all, workday recreation is highly encouraged; a mid-day ride on the bike, a morning of skiing neck-deep powder, or an early afternoon climb are all part of who we are.
      </p>
    </div>

    <div class="two_column">
      <h2>EVENTS</h2>
      <p>
        Feel like getting out at night? Our sponsored events are legendary and include trail relays, mountain bike races, and our company-wide Adventure party.
      </p>
    </div>

    <div class="two_column">
      <h2>& MORE...</h2>
      <ul class="work_list">
        <li>
          Flexible time off policy
        </li>
        <li>
          A casual dress code
        </li>
        <li>
          Reimbursement for carpooling or biking to work
        </li>
      </ul>
    </div>


    <hr />

    <h1 class="header-0">THE BENEFITS</h1>
    <p class="who_section">
      In addition to offering industry-leading perks, we have big-company benefits to keep you and your family healthy and happy.
    </p>

    <div class="two_column">
      <h2>BENEFITS INCLUDE</h2>
      <ul class="who_list">
        <li>
          Medical, dental, vision, and disability & life insurance
        </li>
        <li>
          Paid maternity and paternity leave
        </li>
        <li>
          401(k) matching for retirement
        </li>
        <li>
          Flexible Spending Account (FSA) or Health Savings Account (HSA)
        </li>
      </ul>
    </div>
  </div>

<footer>
  <div class="footer">
    <div class="footer_container column_third">
      <h3>NEWS & UPDATES</h3>
      <p>
        For press or media inquires please contact:
        <a href="mailto:pr@backcountry.com">pr@backcountry.com</a>
        <ul class="social_icons">
          <li class="facebook">
            <a href="https://www.facebook.com/Backcountry"><img src="images/social_icons/ico-24-facebook-white@2x.png" /></a>
          </li>
          <li class="twitter">
            <a href="https://twitter.com/backcountrycom"><img src="images/social_icons/ico-24-twitter-white@2x.png" /></a>
          </li>
          <li class="gplus">
            <a href="https://plus.google.com/+backcountry/posts"><img src="images/social_icons/ico-24-gplus-white@2x.png" /></a>
          </li>
          <li class="instagram">
            <a href="https://instagram.com/backcountrycom"><img src="images/social_icons/ico-24-instagram-white@2x.png" /></a>
          </li>
        </ul>
      </p>
    </div>
    <!-- <div class="clear"></div> -->
    <div class="column_third">
      <h3>BECOME AN AFFILIATE</h3>
      <p>
        Our affiliate programs are highly successful for those who participate.
      </p>
      <p>
        Email
        <a href="mailto:affiliates@backcountry.com">affiliates@backcountry.com</a> for more information.
      </p>
    </div>

    <div class="column_third">
      <h3>CONTACT US</h3>
      <p>
        Make a business inquiry, contact our team, or just let us know what's on your mind.
      </p>
      <p>
        <strong>Phone:</strong>
        <br />
        801.746.7580
      </p>
      <p>
        <strong>Email:</strong>
        <br />
        <a href="mailto:info@backcountry.com">info@backcountry.com</a>
      </p>
    </div>
  </div>
</footer>

</section>
