<h1>{{hi}}</h1>


<!-- LANDING SECTION -->
<section class="bc-landing">
  <div class="container">



  </div>
</section>


<!-- WHY SECTION -->
<section class="bc-why">
  <div class="container">



  </div>
</section>


<!-- WHERE SECTION -->
<section class="bc-where">
  <div class="container">



  </div>
</section>



<!-- SID -->
<!-- WHO SECTION -->
<section class="bc-who">
  <div class="container who_section">

    <p class="pre-header">
      [ Our History ]
    </p>
    <h1>
      HUMBLE ROOTS,<br />
      CLEAR VISION
    </h1>
    <p>
      Backcountry.com began in 1996 with two guys, a stack of avalanche beacons, and a garage in Park City, Utah. Our roots were humble, and we've grown since then, but our vision is still clear: to provide the best outdoor gear—and to be the best at doing it.
    </p>
    <hr />
    <p class="pre-header">
      [ Our Sites ]
    </p>
    <div>
        six different sites with links. it stays at two columns despite resize
    </div>

    <hr />
    <p class="pre-header">
      [ Our Team ]
    </p>
    <div>
      THE TEAM
      <P>
        Our ranks are flush with business leaders, professional athletes, and industry veterans—those who share a common vision and know how to take action. From our executive team to our Gearheads, we target the core by hiring the core. Our employees are among the most experienced and knowledgeable in the industry.
      </P>
    </div>

    <hr />

    <p class="pre-header">
      [ Our Leadership ]
    </p>
    <div>
      Eight pictures of staff go here. modals pop out
    </div>

    <div>
      100% width picture collage goes here. whole thing scales with resize
    </div>

  </div>
</section>



<!-- SID -->
<!-- WORK SECTION -->
<section class="bc-work">
  <div class="container">



  </div>
</section>
