
<scroll-nav /> <!--side nav inside scroll-nav -->


<nav class="wide-nav shop-desktop">
  <ul>
    <li>New Arrivals</li>
    <li>Brands</li>
    <li>Activities</li>
    <li>Women</li>
    <li>Men</li>
    <li>Kids</li>
    <li>Sale</li>
  </ul>
</nav>

<div class="bigimageswithscrollgohere">

</div>

<div class="main-brands">
  <ul>
    <li><img src="../images/shop/homebrands/logo-thenorthface.png" alt=""></li>
    <li><img src="../images/shop/homebrands/logo-arcteryx.png" alt=""></li>
    <li><a href="#"><img src="../images/shop/homebrands/logo-marmot.png" alt=""></a></li>
    <li><img src="../images/shop/homebrands/logo-fjallraven.png" alt=""></li>
    <li><img src="../images/shop/homebrands/logo-patagonia.png" alt=""></li>
    <li><img src="../images/shop/homebrands/logo-columbia.png" alt=""></li>
  </ul>
</div>

<div class="bcs-container" id="bcs-container">

  <div class="storyboard-top">
    <!-- <a href="#" class="hi">asjglas</a> -->
    <!-- <a href="#"><img src="../images/shop/storyboard/SF12.jpg" alt=""><span>HELLOOOO</span></a> -->
    <a href="#">
      <div class="">
        <img src="../images/shop/storyboard/SF12.jpg" alt="">
        <span class="bigtext">Up To 40% Off Past- <br />
      Season Patagonia <br/>
      <span class="littletext">The Semiannual Sale</span></span>
      </div>
    </a>

  </div>


</div>
