

  <nav class="scroll-nav">
    <div class="bcs-hamburger-menu">
      <!--hamburger menu-->
      <div class="hamburger-divs">
        <div class="hamburger-top">

        </div>
        <div class="hamburger-mid">

        </div>
        <div class="hamburger-bot">

        </div>
        <slide-nav-mobile class="hideme" />
      </div>
      <a href="#" class="mobile"><img src="./images/shop/goat-logo.png" alt=""></a>
      <a href="#" class="desktop"><img src="./images/shop/bc-logo.png" alt=""></a>
    </div>
    <div class="bcs-search-bar">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" name="" value="" placeholder="Search gear & clothing">
    </div>


    <div class="nav-hidden">

      <div class="bcs-chat">

        <a href="#">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          <span class="fsize">Chat</span>
        </a>

      </div>
      <div class="bcs-phone">
        <a href="tel:+18004094502">
          <i class="fa fa-mobile" aria-hidden="true"></i>
        </a> &nbsp;
        <a href="tel:+18004094502">
          <span class="fsize">1-800-409-4502</span></a>
        </a>
      </div>
      <div class="bcs-my-account">
        <a href="#">
          <span class="fsize">My Account</span>
        </a>&nbsp;
        <a href="#">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </a>
      </div>
    </div> <!--end nav-hidden-->


    <div class="bcs-cart">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
  </nav>
