
<scroll-nav />



<div class="side-nav">
  <!-- <a href="#">&times;</a> -->
  <div class="side-nav-panel-head">
    <img src="./images/shop/goat-logo.png" alt="Back Country Logo">
    <div>
      <a href="#">
        <span>My Account</span>
      </a>&nbsp;
      <a href="#">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <!-- <div class="side-nav-panel-item">
    <a href="#">New Arrivals</a>
    <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  </div> -->
  <div class="side-nav-panel-body">
    <a href="#" class="side-nav-panel-link">
      New Arrivals
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>

    <a href="#" class="side-nav-panel-link">
      Brands
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>

    <a href="#" class="side-nav-panel-link">
      Activities
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>

    <a href="#" class="side-nav-panel-link">
      Women
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>

    <a href="#" class="side-nav-panel-link">
      Men
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>

    <a href="#" class="side-nav-panel-link">
      Kids
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>

    <a href="#" class="side-nav-panel-link">
      Sale
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>

  </div>

  <div class="side-nav-panel-footer">

    <h5>Contact Us</h5>

    <a href="tel:18002337159" class="call-box">
      <i class="fa fa-mobile" aria-hidden="true"></i> Call
    </a>
  </div>


</div>

<div class="bcs-container">

</div>
