* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  color: #222222;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #EFEFEF;
}
// .container {
//   width:75%;
//   margin: 140px auto 0;
//
// }

.no_pad_left {
  padding-left: 0 !important;
  // background-color: red;
}


.no_pad_right {
  padding-right: 0 !important;
  // background-color: blue;

}



.who_section {
  // margin: 140px auto 0;
  // // width: 75%;

  h1 {
    color: #222222;
    font-size: 90px;
    line-height: 80px;
    margin: 0;
  }

  .who_history {
    margin-top: 0;
    // float:left;
  }

  .half_column {
    float: left;
    position: relative;
    width: 50%;
    padding: 30px;
    // background-color: red;
    // height: 40vh;
  }
  img {
    width: 75%
  }
}


hr {
  margin: 60px 0;
}

.header-0 {
  font-size: 90px;
  line-height: 80px;
}

.pre-header {
  font-size: 24px;
  margin-bottom: 40px;
}

.exec {
    margin-bottom: 40px;
}

.column-quarter {
  float: left;
  position: relative;
  width: 23.5%;
  margin-top: 1%;
  margin-right: .5%;
  margin-bottom: 1%;
  margin-left:.5%;
}

.exec-pic {
  width: 100%;
  display: block;

  img {
    width:100%;
    margin-right: 1%;
  }

  h3 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 0;
  }
}


.exec_people {
  margin-bottom: 40px;
}
.exec-name {
  font-size: 14px;
  width:100%;
  // background-color: red;
}

.photo_montage {
  margin-top: 120px;
  clear:both;
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #EFEFEF;
  // margin:0;
  padding:0;
  margin-top: 40px;
  margin-bottom:40px;

}

.column1 {
  margin:0;
  padding:0;
  display: inline-block;
  width: 37.5%;
  position:absolute;
  top:0;
}

.column2 {
    margin:0;
    padding:0;
    display: inline-block;
    width:37.5%;
    background-color:#EFEFEF;
    position:absolute;
    top:0;
    left:37.5%;
}

.column3 {
  margin:0;
  padding:0;
  display: inline-block;
  width:25%;
  position:absolute;
  top:0;
  right:0;
}

////////////left column///////////////////
.left_column_top_row {
  width:100%;
  background-color: green;
  height: 254px;
}

.left_column_left_side {
  float:left;
  width:25%;
  height:254px;
}

.left_column_right_side {
  float: right;
  width:75%;
  height:254px
}

.photo_small {
  width:100%;
  height:127px;
  img {
    height: 127px;
    object-position: 50% 0%;
    object-fit: cover;
    width:100%;
  }
}

.photo_med {
  float:right;
  width: 100%;
  height: 254px;
  img {
    height: 254px;
    width:100%;
  }
}

.left_column_med_row {
  width:100%;
  height: 274px;
  background-color: black;
}

.photo_left_column_med {
  clear: both;
  width:100%;
  height: 274px;
  img {
    height:274px;
    width:100%;
  }
}

.left_column_bottom_row {
  width:100%;
  height:284px;
}

.left_column_bottom_left_side {
  float:left;
  width:25%;
  height: 284px;
}

.left_column_bottom_right_side {
  background-color: blue;
  float: right;
  width:75%;
  height:284px;
}

.photo_bottom_small {
  float:left;
  width:100%;
  height:157px;
  img {
    height: 157px;
    object-position: 50% 0%;
    object-fit: cover;
    width:100%;
  }
}

.photo_bottom_med {
  float:right;
  width: 100%;
  height: 284px;
  img {
    height: 284px;
    width:100%;
  }
}
///////////////////middle column//////////////
.middle_column_top_row {
  height:426px;
  background-color: yellow;
  width:100%;
}

.middle_photo_large {
  width:100%;
  height: 426px;
  img {
    height:426px;
    width:100%
  }
}

.middle_column_middle_row {
  width:100%;
  height: 284px;

}

.middle_photo_small {
  width:100%;
  height: 142px;
  img {
    height:142px;
    width:100%
  }
}
.middle_column_middle_left {
  float:left;
  width:25%;
  height:284px;
  background-color: black;
}

.middle_photo_medium {
  width:100%;
  height: 284px;
  img {
    height: 284px;
    width:100%;
  }
}

.middle_column_middle_right {
  float:right;
  width:75%;
  height:284px;
}

.middle_column_bottom_row {
  width:100%;
  height:284px;
}

.middle_column_bottom_left {
  float:left;
  width:75%;
  height:284px;
  background-color: yellow;
}

.middle_column_bottom_right {
  float:right;
  width:25%;
  height:284px;
}

////////// right column  ////////////////////////
.right_column_top_row {
  height:284px;
  width:100%;
  background-color: yellow;
}

.right_photo_med {
    height:284px;
    width:100%;
    img {
      height:284px;
      width:100%;
    }
}

.right_column_middle_row {
  height:284px;
  width:100%;
  background-color: black;
}

.right_column_bottom_row {
  height:284px;
  width:100%;
}

.right_photo_small {
    height: 142px;
    width:100%;
    img {
      height: 142px;
      width:100%;
    }
}

.right_column_bottom_left {
  float:left;
  height:284px;
  width:50%;
  background-color: white;
}

.right_column_bottom_right {
  float:right;
  height:284px;
  width: 50%;
}
///////WORK SECTION///////////////////////////


.bc-work {


  .muse_container {


    .muse_photos {
      display:block;
      img {
        width:100%;
        height:auto;
      }
    }
    .powered_by {
      margin-left: 40%;
      img {
        width:40%;
        height:40%;
      }
    }
  }

  .perk_container {
    width:90%;
    margin:auto;

    .work_list {
      list-style: none;
      background-color: #fff;
      padding:18px;
      hr {
        margin:10px 0;
      }
    }

    h2 {
      margin:20px 0;
    }

    p {
      margin:5px 0;
    }
  }

  .benefit_container {
    width:90%;
    margin: auto;

    .who_list {
      list-style: none;
      background-color: white;
      padding:18px;
      hr {
        margin-top:10px;
        margin-bottom:10px;
      }
    }

    h2 {
        margin:20px 0;
    }

    .two_column {
      margin:25px 0;
    }
  }







  footer{
    margin-top: 40px;
    background-color: #222222;
    color:#ffffff;
    display:block;
    float:left;
    font-size:24px;
    position:relative;
    padding-top:60px;
    padding-bottom:100px;
    width:100%;
    z-index: 1;
    // font-size:15px;
    a {
      color: #fff;
      text-decoration: underline;
    }


  }

  .column_third {
    float:left;
    position:relative;
    padding: 70px;
    margin-top:100px;
    margin-bottom:60px;
    // width:33%
    // font-size:15px;
  }
  h3 {
    font-size:28px;
    line-height: 1.5;
    margin-top:20px;
    margin-bottom:20px;
    font-weight:900;
  }

  p {
    margin-top:80px;
  }
  .social_icons {
    list-style: none;
    margin:0;
    padding:0;

    li {
      padding:20px;
      display: inline-block;
      img {
        width:100px;
        height:100px;
      }
      // background-color: red;
    }

  }


  .facebook {
    // background-image:
    li {
      background-image: url(images/social_icons/ico-24-facebook-white@2x.png) blue;
      background-position: center center;
      background-size: 24px 24px;
      display: inline;
      list-style-type: none;
      height:32px;
      margin-right: 10px;
      width:32px;
      float:left;
    }
  }

  .twitter {
    // background-image:
    li {
      // background-image: url(images/social_icons/ico-24-facebook-white@2x.png) blue;
      background-position: center center;
      background-size: 24px 24px;
      display: inline;
      list-style-type: none;
      height:32px;
      margin-right: 10px;
      width:32px;
      float:left;
    }
  }

  .gplus {
    // background-image:
    li {
      // background-image: url(images/social_icons/ico-24-facebook-white@2x.png) blue;
      background-position: center center;
      background-size: 24px 24px;
      display: inline;
      list-style-type: none;
      height:32px;
      margin-right: 10px;
      width:32px;
      float:left;
    }
  }

  .instagram {
    // background-image:
    li {
      // background-image: url(images/social_icons/ico-24-facebook-white@2x.png) blue;
      background-position: center center;
      background-size: 24px 24px;
      display: inline;
      list-style-type: none;
      height:32px;
      margin-right: 10px;
      width:32px;
      float:left;
    }
  }
}
