* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  color: #222222;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #EFEFEF;
}
// .container {
//   width:75%;
//   margin: 140px auto 0;
//
// }

// .who_section {
//   // margin: 140px auto 0;
//   // // width: 75%;
// }
///////// WHERE SECTION ///////////////////////
.bc-where {
  width:90%;
  margin:auto;
  h1 {
    color: #222222;
    font-size: 42px;
    line-height: 34px;
    margin: 0;
  }

  hr {
    // width:90%;
    margin: 60px auto;
  }

  .pre-header {
    margin-bottom:60px;
  }

  .playground_container {
    // width:90%;
    margin:40px auto;

    .best_town_photo {
      margin-top: 40px;
      img {
        width:100%;
      }
    }
  }

  .also_in_container {
    .where_also_in {
      margin:60px 0;
    }
  }


}



////////WHO SECTION ///////////////////////////

.bc-who {
    h1 {
      color: #222222;
      font-size: 42px;
      line-height: 34px;
      margin: 0;
    }

    hr {
      width:90%;
      margin: 60px auto;
    }

    .history_container {
      width:90%;
      margin:40px auto;
      font-size: 24px;
      .header-0 {
        font-size: 90px;
        line-height: 80px;
      }
      .pre-header {
        margin-bottom:60px;
      }
      .who_history {
        font-size: 18px;
      }
    }

    .our_sites_container {
      width:90%;
      margin:40px auto;
      font-size: 24px;
      .header-0 {
        font-size: 90px;
        line-height: 80px;
      }
      .pre-header {
        margin-bottom:60px;
      }

      .half_column {
        float: left;
        position: relative;
        width: 100%;
        padding: 30px;
        // background-color: red;
        // height: 40vh;
        margin:50px auto;
        h4 {
          font-size:18px;
        }
        a {
          color:blue;
        }
        img {
          width: 100%
        }
      }

      .no_pad_left {
        padding-left: 0 !important;
        // background-color: red;
      }
      // .no_pad_right {
      //   padding-right: 0 !important;
      //   // background-color: blue;
      //
      // }
    }

    .our_team_container {
      width:90%;
      margin:40px auto;
      font-size: 18px;

      .header-0 {
        font-size: 42px;
        line-height: 34px;
      }

      .pre-header {
        margin-bottom:60px;
      }
    }

    .exec_container {
      .pre-header {
        width:90%;
        margin: 40px auto;
        font-size: 24px;
      }

      .exec {
          margin-bottom: 60px;
          // height: auto;
      }
      .exec-name {
        font-size: 14px;
        font-weight: bolder;
        width:100%;
        margin:0;
        // text-align:left;
      }
      .exec-title {
        font-size:12px;
        margin-top:0px;
      }

      .exec_people {
        margin: 0px auto;
      }

     .column-quarter {
        float: left;
        position: relative;
        width: 47%;
        margin-top: .5%;
        margin-right: 1%;
        margin-bottom: 2.5%;
        margin-left:1%;
      }

      .exec-pic {
        width: 100%;
        display: block;
        margin-bottom: 0px;

        img {
          width:100%;
          margin-left:auto;
          margin-right: auto;
        }

      }
    }
    // clear:both;




}


.photo_montage {
  margin-top: 120px;
  padding-top: 120px;
  clear:both;
  position: relative;
  width: 100%;
  // height: 1000px;
  height:400px;
  // height:auto;
  background-color: #EFEFEF;
  // margin:0;
  padding:0;
  // margin-top: 40px;
  margin-bottom:0px;

  .column1 {
    margin:0;
    padding:0;
    display: inline-block;
    width: 37.5%;
    position:absolute;
    top:0;
  }

  .column2 {
    margin:0;
    padding:0;
    display: inline-block;
    width:37.5%;
    background-color:#EFEFEF;
    position:absolute;
    top:0;
    left:37.5%;
  }

  .column3 {
    margin:0;
    padding:0;
    display: inline-block;
    width:25%;
    position:absolute;
    top:0;
    right:0;
  }

  ////////////left column///////////////////
  .left_column_top_row {
    width:100%;
    background-color: green;
    // height: 254px;
    height:80px;
  }

  .left_column_left_side {
    float:left;
    width:25%;
    // height:254px;
    height:80px;
  }

  .left_column_right_side {
    float: right;
    width:75%;
    // height:254px
    height:80px;
  }

  .photo_small {
    width:100%;
    // height:127px;
    height:40px;
    img {
      // height: 127px;
      height:40px;
      object-position: 50% 0%;
      object-fit: cover;
      width:100%;
    }
  }

  .photo_med {
    float:right;
    width: 100%;
    // height: 254px;
    height:80px;
    img {
      // height: 254px;
      height:80px;
      width:100%;
    }
  }

  .left_column_med_row {
    width:100%;
    // height: 274px;
    height:80px;
    background-color: black;
  }

  .photo_left_column_med {
    clear: both;
    width:100%;
    // height: 274px;
    height:80px;
    img {
      // height:274px;
      height:80px;
      width:100%;
    }
  }

  .left_column_bottom_row {
    width:100%;
    // height:284px;
    height:80px;
  }

  .left_column_bottom_left_side {
    float:left;
    width:25%;
    // height: 284px;
    height:40px;
  }

  .left_column_bottom_right_side {
    background-color: blue;
    float: right;
    width:75%;
    // height:284px;
    height:80px;
  }

  .photo_bottom_small {
    float:left;
    width:100%;
    // height:157px;
    height:40px;
    img {
      // height: 157px;
      height:40px;
      object-position: 50% 0%;
      object-fit: cover;
      width:100%;
    }
  }

  .photo_bottom_med {
    float:right;
    width: 100%;
    // height: 284px;
    height:80px;
    img {
      // height: 284px;
      height:80px;
      width:100%;
    }
  }
  ///////////////////middle column//////////////
  .middle_column_top_row {
    // height:426px;
    height:120px;
    background-color: yellow;
    width:100%;
  }

  .middle_photo_large {
    width:100%;
    // height: 426px;
    height:120px;
    img {
      // height:426px;
      height:120px;
      width:100%
    }
  }

  .middle_column_middle_row {
    width:100%;
    // height: 284px;
    height:80px;

  }

  .middle_photo_small {
    width:100%;
    // height: 142px;
    height:40px;
    img {
      // height:142px;
      height:40px;
      width:100%
    }
  }
  .middle_column_middle_left {
    float:left;
    width:25%;
    // height:284px;
    height:80px;
    background-color: black;
  }

  .middle_photo_medium {
    width:100%;
    // height: 284px;
    height:80px;
    img {
      // height: 284px;
      height:80px;
      width:100%;
    }
  }

  .middle_column_middle_right {
    float:right;
    width:75%;
    // height:284px;
    height:80px;
  }

  .middle_column_bottom_row {
    width:100%;
    // height:284px;
    height:80px;
  }

  .middle_column_bottom_left {
    float:left;
    width:75%;
    // height:284px;
    height:80px;
    background-color: yellow;
  }

  .middle_column_bottom_right {
    float:right;
    width:25%;
    // height:284px;
    height:80px;
  }

  ////////// right column  ////////////////////////
  .right_column_top_row {
    // height:284px;
    height:80px;
    width:100%;
    background-color: yellow;
  }

  .right_photo_med {
    // height:284px;
    height:80px;
    width:100%;
    img {
      // height:284px;
      height:80px;
      width:100%;
    }
  }

  .right_column_middle_row {
    // height:284px;
    height:80px;
    width:100%;
    background-color: black;
  }

  .right_column_bottom_row {
    // height:284px;
    height:80px;
    width:100%;
  }

  .right_photo_small {
    // height: 142px;
    height:40px;
    width:100%;
    img {
      // height: 142px;
      height:40px;
      width:100%;
    }
  }

  .right_column_bottom_left {
    float:left;
    // height:284px;
    height:80px;
    width:50%;
    background-color: white;
  }

  .right_column_bottom_right {
    float:right;
    // height:284px;
    height:80px;
    width: 50%;
  }
}

///////WORK SECTION///////////////////////////

.bc-work {
  h1 {
    color: #222222;
    font-size: 42px;
    line-height: 34px;
    margin: 0;
  }

  hr {
    width:90%;
    margin:50px auto;
  }
  .join_team_container{
      width:90%;
      margin:auto;
  }
  .who_team {
    font-size:18px;
  }

  .current_opening_container {
    width:90%;
    margin:auto;
    a {
      color:blue;
    }
  }


  .muse_container {
    width:100%;
    .muse_photos {
      // display:block;
      position: relative;
      img {
        position: relative;
        padding:5px 10px;
        width:100%;
        // max-width: 325px;
        height:auto;
        margin: 0 auto;
      }

      .georgia, .nick, .rob {
        position:relative;
        a {
          color: white;
        }
        .spotlight {
          position: absolute;
          bottom: 100px;
          left:13%;
          .spotlight_name, .spotlight_title, .spotlight_greet {
            text-shadow:  1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
            font-size:18px;
            font-weight: bolder;
            color:white;
            text-align: center;
          }
          .spotlight_name {
            text-align: center;
            margin-bottom: 30px;
          }
        }
      }
      .our_office, .work_play {
        text-shadow:  1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        position: relative;
        .spotlight {
          h2 {
            position: absolute;
            bottom:50px;
            right:20%;
            text-align: right;
            font-size:32px;
            font-weight:bolder;
            color:white;
          }
          .spotlight_name {
            width:90%;
            text-shadow:  1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
            position: absolute;
            bottom:20px;
            // left:15%;
            font-size:18px;
            font-weight: bolder;
            color:white;
            text-align: right;
          }
        }
      }
      // .our_office {
      //   width:90%;
      //   margin:0 auto;
      // }
    }
    .powered_by {
      margin-left: 40%;
      img {
        width:40%;
        height:40%;
      }
    }
  }

  .perk_container {
    width:90%;
    margin:auto;
    font-size: 18px;

    .work_list {
      font-size: 15px;
      list-style: none;
      background-color: #fff;
      padding:18px;
      hr {
        margin:10px 0;
      }
    }

    h2 {
      margin:20px 0;
    }

    p {
      margin:5px 0;
    }
  }

  .benefit_container {
    width:90%;
    margin: auto;
    font-size: 18px;

    .who_list {
      font-size: 15px;
      list-style: none;
      background-color: white;
      padding:18px;
      hr {
        margin-top:10px;
        margin-bottom:10px;
      }
    }

    h2 {
        margin:20px 0;
    }

    .two_column {
      margin:25px 0;
    }
  }
}

footer{
  margin-top: 40px;
  background-color: #222222;
  color:#ffffff;
  display:block;
  float:left;
  font-size:18px;
  position:relative;
  padding-top:60px;
  padding-bottom:100px;
  width:99%;
  z-index: 1;
  // font-size:15px;
  a {
    color: #fff;
    text-decoration: underline;
  }

  .column_third {
    // float:left;
    position:relative;
    padding: 20px;
    margin-top:100px;
    margin-bottom:60px;
    // width:33%
    // font-size:15px;
  }
  h3 {
    font-size:18px;
    line-height: 1.5;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:900;
  }

  p {
    margin-top:40px;
  }
  .social_icons {
    list-style: none;
    margin:0;
    padding:0;

    li {
      padding:5px;
      display: inline-block;
      img {
        width:24px;
        height:24px;
      }
    }
  }

  .facebook {
    // background-image:
    li {
      background-image: url(images/social_icons/ico-24-facebook-white@2x.png) blue;
      background-position: center center;
      background-size: 24px 24px;
      display: inline;
      list-style-type: none;
      height:32px;
      margin-right: 10px;
      width:32px;
      float:left;
      background-color: blue;
    }
  }

  .twitter {
    // background-image:
    li {
      background-position: center center;
      background-size: 24px 24px;
      display: inline;
      list-style-type: none;
      height:32px;
      margin-right: 10px;
      width:32px;
      float:left;
    }
  }

  .gplus {
    // background-image:
    li {

      background-position: center center;
      background-size: 24px 24px;
      display: inline;
      list-style-type: none;
      height:32px;
      margin-right: 10px;
      width:32px;
      float:left;
    }
  }

  .instagram {
    // background-image:
    li {

      background-position: center center;
      background-size: 24px 24px;
      display: inline;
      list-style-type: none;
      height:32px;
      margin-right: 10px;
      width:32px;
      float:left;
    }

  }


}




@media only screen and (min-width: 601px) {
  footer {
    // background-color: blue;
    // color:green;
    .column_third {
      display:inline-block;
      width:32%;
      font-size:15px;
      vertical-align: text-top;
      margin-top: 20px;
    }

    .social_icons {
      li {
        padding:2px;
      }
    }
  }

  .benefit_container {
    width:75%;
    .who_list {
      width: 50%;
    }
  }

  .perk_container {
    .two_column {
      font-size: 15px;
      display: inline-block;
      vertical-align: text-top;
      width:49%;
    }
    p {
      width: 95%;
      margin: 0px 10px;
    }
  }


  .exec_container {
    .column-quarter {
      float: left;
      position: relative;
      width: 23.5%;
      margin-top: .5%;
      margin-right: 1%;
      margin-bottom: 2.5%;
      margin-left:1%;
    }
  }

}

@media only screen and (min-width: 690px) {
  .muse_container {
    background-color: white;

  }
  .powered_by {
    float:right;
  }
  .muse_row1 {
    padding:0px;
    width:100%;
    display: inline-block;
    background-color: white;
    position: relative;
    // vertical-align: top;

    .muse_row1_left {
      float:left;
      width:66%;
      height:100%;
      img {
        padding: 5px 10px;
        width:100%;
        height: 100%;
      }
    }
    .muse_row1_right {
      float:left;
      width:33%;
      height:100%;
      .work_play, .wall_climb {
        height: 50%;
        img {
          // padding: 5px 5px;
          // height:100%;
        }
      }
    }
  }
  .muse_row2 {
    width:100%;
    display:inline-block;
    // background-color: black;
    .nick, .georgia, .rob {
      display: inline-block;
      width:32%;
      img{
        width:32.5%;
      };
    }

  }
}
